:root.theme-light {
	--theme-background-color: white;
	--theme-text-color: black;

	--theme-tabs-text-color: black;
	--theme-tabs-border-color: black;
	--theme-tabs-tab-border-color: black;
	--theme-tabs-tab-hover-background-color: rgb(200, 200, 200);

	--theme-splits-paused-border-color: yellow;

	--theme-button-hover-border-color: lightgrey;
}
