:root.theme-light {
	--theme-background-color: white;
	--theme-text-color: #454545;

	--theme-tabs-text-color: #454545;
	--theme-tabs-border-color: #454545;
	--theme-tabs-tab-border-color: #a00000;
	--theme-tabs-tab-hover-background-color: rgb(245, 201, 201);

	--theme-splits-paused-border-color: #a00000;

	--theme-button-hover-border-color: rgb(245, 201, 201);
}
