.tabs > .tab {
	display:  none;
}
.tabs > .tab.active {
	display:  initial;
}
.tabs > .tabBar {

	border-color: var(--theme-tabs-border-color);
}
.tabs > .tabBar > .tabBarItem {
	display: inline-block;
	padding: 5px;
	color: var(--theme-tabs-text-color);
	border-color: var(--theme-tabs-tab-border-color);
}
.tabs > .tabBar > .tabBarItem:hover {
	background-color: var(--theme-tabs-tab-hover-background-color);
	cursor: pointer;
}
